<div class="container text-center center">
  <div class="row">
    <div class="col-md-6 mb-3 mb-sm-0">
      <a [routerLink]="['/login']" class="home-card-title">
        <div class="card">
          <div class="card-body">
            Have an account?
            <h5 class="card-title">Login</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6">
      <a [routerLink]="['/register']" class="home-card-title">
        <div class="card">
          <div class="card-body">
            Need an account?
            <h5 class="card-title">Register</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
